
footer {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 20px 0;
    color: #A12000;
}


html {
    min-width: 320px
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;

    list-style: none;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 46px;
    background-position: center top;
    position: relative;
    z-index: 1;
}

.wrapper {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

header ul,
.menu--bottom ul {
    text-align: right;
}

header ul li,
.menu--bottom ul li {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #9ed3e9;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    padding: 14px 0;
    text-align: center;
    position: relative;
    margin: 0 8px;
}

header ul li:hover,
.menu--bottom ul li:hover {
    color: #00b4ff;
}

header ul li a,
.menu--bottom ul li a {
    text-decoration: none;
    color: #9ed3e9;
}

header ul li a:hover,
.menu--bottom ul li a:hover {
    color: #00b4ff;
}


.bg_site {
    background-color: #e5e5e5;
    background-repeat: repeat-x;
    background-position: top;
    width: 100%;
}

.active {
    background-position: center 5px;
    background-repeat: no-repeat;
}

img {
    border-style: none;
}

header ul li:nth-of-type(8),
.menu--bottom ul li:nth-of-type(8) {
    margin-right: 30px;
}

header ul li:nth-of-type(8) a:before,
.menu--bottom ul li:nth-of-type(8) a:before {
    content: '+';
    position: absolute;
    border: 2px solid #9ed3e9;
    font-size: 20px;
    border-radius: 50%;
    right: -30px;
    display: block;
    text-align: center;
    line-height: 18px;
    top: 12px;
    padding: 0 5px;
    font-weight: normal;
}

.logo {
    padding: 27px 0;
}

.menu,
.menu li {
    display: inline-block;
    vertical-align: middle;
}

.menu li {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.menu li:hover:before {
    content: '';
    background-position: center 0px;
    background-repeat: no-repeat;
    background-color: #1c518f;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -9px;
    left: 0;
}

.menu li a {
    color: #1c518f;
    text-decoration: none;
}

.menu li:nth-last-of-type(1) {
    margin-right: 0;
}

.menu li:nth-last-of-type(1):before {
    content: '';
    background-position: center 0px;
    background-repeat: no-repeat;
    background-color: #1c518f;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -9px;
    left: 0;
}

.content {
    width: 636px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.header_content,
.aside_head {
    background: #1c518f;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 33px;
    height: 34px;
    padding-left: 10px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.header_content img,
.header_content span,
.aside_head img,
.aside_head span {
    display: inline-block;
    vertical-align: middle;
}

.shadow {
    position: absolute;
    bottom: -18px;
    left: 0;
}

h1 {
    color: #333333;
    font-size: 38px;
    font-weight: 300;
}

.date {
    font-style: italic;
    color: #4d4d4d;
    font-size: 14px;
}

.breadcrumbs ul,
.breadcrumbs ul li,
.date {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs ul {
    width: calc(100% - 102px);
    text-align: right;
}

.breadcrumbs ul li {
    margin-left: 15px;
}

.breadcrumbs ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    padding: 3px 7px;
    border-radius: 4px;
    position: relative;
}

.breadcrumbs ul li a:hover {
    opacity: .8;
}

.breadcrumbs ul li span {
    margin-left: 4px;
}

.breadcrumbs ul li:nth-of-type(1) a {
    background: #4267b2;
}

.breadcrumbs ul li:nth-of-type(2) a {
    background: #3c9cf3;
    margin-right: 17px;
}

.breadcrumbs ul li:nth-of-type(3) a {
    background: #b8001b;
}

.breadcrumbs ul li img {
    position: absolute;
    right: -9px;
    top: 5px;
}

.breadcrumbs ul li .like {
    position: static;
    width: 10px;
}

.breadcrumbs ul li .twitter {
    position: static;
    width: 10px;
}

.breadcrumbs ul li .pinterest {
    position: static;
    width: 10px;
}

.breadcrumbs ul li:nth-of-type(2) a:before,
.breadcrumbs ul li:nth-of-type(3) a:before {
    content: '1';
    position: absolute;
    right: -30px;
    top: -2px;
    border: 1px solid #999;
    width: 20px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    color: #333;
    line-height: 20px;
    border-radius: 5px;
}

.breadcrumbs,
h1,
p {
    margin-bottom: 20px;
}

.content__img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

.autor {
    float: left;
    width: 210px;
    margin-right: 10px;
}

.tftable {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
}

tr,
td {
    border: 1px solid #d6d6d6;
    padding: 5px 10px;
}

.product {
    display: block;
    margin: 30px auto 20px;
}

.btn {
    display: block;
    margin: 0 auto 20px;
    color: #fff;
    background: #f00;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 5px;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn:hover {
    background: #c11f1f;
}

.comments li {
    list-style: none;
    margin-bottom: 20px;
}

.avatar {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    margin-right: 5px;
}

.comment__post {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 41px);
}

.user_name {
    font-size: 13px;
    color: #0a78c2;
    font-weight: 700;
    margin-bottom: 5px;
}

.comment_text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
}

.action span {
    font-size: 11px;
    color: #999999;
}

.action a {
    color: #0a78c2;
    font-size: 11px;
    text-decoration: none;
}

h2 {
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    background: #0a78c2;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 660px)
}

.aside_head {
    background: #028dc7;
    width: 310px;
    margin-right: -10px;
}

aside ul {
    margin-top: -10px;
}

aside ul li {
    display: block;
    border-bottom: 1px dotted #ffffff;
    padding: 10px 20px;
    background: #cbe7f2;
}

.time {

    font-size: 14px;

    padding: 0px 3px;
    display: inline-block;
    margin-bottom: 5px;
}

.title {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.text {
    font-size: 14px;
    font-weight: 400;
}

.aside_btn {
    background-color: #67bbdd;
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 9px 0;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 30px;
}

.aside_logo {
    position: absolute;
    right: 15px;
    top: 5px;
}

.aside__img {
    width: 100%;
    display: block;
}

.menu--bottom {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}

.burger {
    display: none;
}

.burger img {
    width: 40px;
}

.burger {
    text-align: right;
}

@media all and (max-width: 1023px) {

    .logo,
    .haed,
    aside,
    header ul li,
    .menu--bottom ul li,
    .shadow,
    .menu--bottom,
    header{
        display: none;
    }


    .content {
        margin: 0;
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    header ul {
        font-size: 0;
        padding: 0 10px;
    }

    .burger {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }

    h1 {
        font-size: 27px;
    }
}

@media all and (max-width: 600px) {
    .autor {
        width: 165px;
    }

    .breadcrumbs ul {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        margin-top: 15px;
    }

    .spin-wrapper {
        margin-bottom: 20px;
    }

}


* {
    outline: none;
}

.spin-wrapper {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.wheel {
    width: 380px !important;
    margin: 0 auto;
    position: relative;
}

.content .wheel img {
    max-width: 100%;
}

.wheel-cursor {
    position: absolute;
    width: 40% !important;
    height: 40%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cursor-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    font-size: 10px;
    line-height: 1;
    z-index: 1;
    width: 45% !important;
    height: 45%;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 49%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background: rgb(255, 255, 255);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}



.content .product img {
    width: 730px;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

form {
    display: block;
    margin: 0 auto !important;
    text-align: center !important;
}

p.priceÃ‘Â {
    position: relative;
    right: -50px;
    bottom: -50px;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
            box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
    width: 180px;
    height: 105px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
    -webkit-transform: rotateZ(-16deg);
            transform: rotateZ(-16deg);
    text-align: center !important;
    margin: -160px auto 30px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(238, 165, 19)), to(rgb(253, 237, 19)));
    background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 19%;
    padding: 5px;
}

.priceÃ‘Â span {
    display: block;
    font-size: 22px;
}

.priceÃ‘Â .old_price {
    text-decoration: line-through;
}

.priceÃ‘Â .old_price span {
    display: inline-block;
    font-weight: normal;
}

.new_price {
    border-bottom: 2px solid #f00;
    margin: 0 auto;
    width: 100px;
}

.timer {
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
}

#clock span, #clock2 span {
    color: #f00;
    font-weight: bold;

}

label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.form_group {
    padding: 10px;
    display: block;
    margin: 10px auto;
    border: 2px solid grey;
    border-radius: 5px;
    width: 460px;
    max-width: 100%;
}

.form_btn {
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #de0606;
    text-align: center;
    color: #fff !important;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form_btn:hover {
    opacity: 0.8;
}

.order_block h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.red {
    color: #f00;
}

.wheel-img {
    -webkit-transition: 4s;
    transition: 4s;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../img/close-1.png');
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: 0px;
    cursor: pointer;
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #ffffff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-animation: 0.7s ease 0s normal none 1 running pop-up-appear;
            animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    -webkit-animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
            animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -o-border-image: none;
       border-image: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
    -webkit-animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
            animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@-webkit-keyframes pop-up-appear {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    30% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes pop-up-appear {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    30% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@-webkit-keyframes pop-up-appear-before {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes pop-up-appear-before {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

.pop-up-text {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(113, 195, 65);
    color: rgb(255, 255, 255);
    border: medium none;
    cursor: pointer;
    outline: medium none;
}

.pop-up-button:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.wheel img {
    max-width: 100%;
}

@media all and (max-width: 520px) {
    .wheel {
        width: 275px !important;
    }

    .spin-wrapper {
        margin-bottom: 20px;
    }

    .cursor-text {
        line-height: 36px;
        font-size: 7px;
    }

    .close-popup {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url('../images/close-1.png');
        background-size: 100%;
        top: -40px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
        right: -10px;
        cursor: pointer;
    }

    .autor {
        display: block;
        float: none;
        margin: 0 auto 10px;
    }

}

.super-rotation {
    -webkit-animation-name: super-rotation;
    animation-name: super-rotation;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

@-webkit-keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1883deg);
        transform: rotate(1883deg)
    }

    100% {
        -webkit-transform: rotate(1874deg);
        transform: rotate(1874deg)
    }
}

@keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1883deg);
        transform: rotate(1883deg)
    }

    100% {
        -webkit-transform: rotate(1874deg);
        transform: rotate(1874deg)
    }

}



.price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0 auto !important;
    max-width: 400px;
}

.price__item {
    width: 50%;
}

.price__old {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 10px;
    border-right: 1px solid #444444;
}

.price__new {
    padding-left: 10px;
}


.price__item-title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 700;
}

.price__old .price__item-title {
    text-align: right;
}

.price__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    margin: 0 !important;
}

.price__old .price__item-content {
    text-decoration: line-through;
}

::-ms-clear { display: none; }

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.haed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (max-width: 1023px) {
    .header-top {
        display: none;
    }
}